In [2]:
import pandas as pd
import numpy as np

data_frame = pd.read_csv('../embeded_hardware_salary_norm_add_provence_city_area_del_none.csv')

res = data_frame.loc[data_frame['provence']=='上海市']

res

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
2,嵌入式硬件工程师,上海智显光电科技有限公司,上海-闵行区,10-15万/年,06-19,8333.0,12500.0,上海市,上海,闵行区
8,嵌入式硬件工程师,上海熠速信息技术有限公司,上海-闵行区,1.2-3万/月,06-19,12000.0,30000.0,上海市,上海,闵行区
15,嵌入式硬件工程师,上海箱箱物流科技有限公司,上海-徐汇区,1.5-2.5万/月,06-19,15000.0,25000.0,上海市,上海,徐汇区
18,嵌入式硬件工程师,上海恪成实业有限公司,上海-松江区,1-1.5万/月,06-19,10000.0,15000.0,上海市,上海,松江区
30,嵌入式硬件工程师,上海凯延计算机科技发展有限公司,上海-嘉定区,0.8-1.6万/月,06-19,8000.0,16000.0,上海市,上海,嘉定区
...,...,...,...,...,...,...,...,...,...,...
830,嵌入式硬件工程师,天鲜配（上海）科技有限公司,上海-闵行区,2.5-3万/月,06-17,25000.0,30000.0,上海市,上海,闵行区
841,嵌入式硬件工程师,北京纳米维景科技有限公司,上海-浦东新区,1-2.5万/月,06-16,10000.0,25000.0,上海市,上海,浦东新区
846,嵌入式硬件工程师,上海企想信息技术有限公司,上海-宝山区,6-8千/月,06-16,6000.0,8000.0,上海市,上海,宝山区
858,嵌入式硬件工程师,上海金网通信技术发展有限公司,上海-松江区,0.8-1.5万/月,06-16,8000.0,15000.0,上海市,上海,松江区
867,嵌入式硬件工程师,上海朝辉压力仪器有限公司,上海-松江区,0.8-1.5万/月,06-19,8000.0,15000.0,上海市,上海,松江区

In [5]:
    
data = [
    {
        'job':'java',
        'data': [
            {"province": "广东", "value": 2222},
            {"province": "江苏", "value": 2555},
            {"province": "山东", "value": 5000},
            #.............#
            {"province": "宁夏", "value": 2200},
            {"province": "西藏", "value": 3000}
            ]
    },
    {
        'job':'python',
        'data': [
            {"province": "广东", "value": 2222},
            {"province": "江苏", "value": 2555},
            {"province": "山东", "value": 5000},
            #.............#
            {"province": "宁夏", "value": 2200},
            {"province": "西藏", "value": 3000}
            ]
    },
]

name = [x['job'] for x in data]
a = [ [[x['province'],x['value']] for x in d['data'] ] for d in data]


print(name)
print(a[1])

['java', 'python']
[['广东', 2222], ['江苏', 2555], ['山东', 5000], ['宁夏', 2200], ['西藏', 3000]]