# python-all jobs

In [2]:
import pandas as pd
import numpy as np

In [3]:
python_all_jobs_new=pd.read_csv('date_2020-6-23/python_salary_norm_add_provence_city_area_del_none.csv')
python_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,python软件工程师,浙江大立科技股份有限公司,杭州-滨江区,0.8-1.5万/月,06-19,8000.0,15000.0,浙江省,杭州,滨江区
1,Python开发工程师-世纪福,科技城人才市场,苏州,1-2万/月,06-19,10000.0,20000.0,江苏省,苏州,NaN
2,Python开发工程师,陕西云智汇谷创新科技有限公司,西安-碑林区,6-8千/月,06-19,6000.0,8000.0,陕西省,西安,碑林区
3,python开发经理,朗森特科技有限公司,上海-徐汇区,1.5-2.2万/月,06-19,15000.0,22000.0,上海市,上海,徐汇区
4,python后端开发工程师,苏州奇梦者网络科技有限公司,苏州-工业园区,1-1.5万/月,06-19,10000.0,15000.0,江苏省,苏州,工业园区
...,...,...,...,...,...,...,...,...,...,...
28243,Windows C/C++ 初级软件工程师（应届生）,格尔软件股份有限公司,上海-静安区,1-1.5万/月,06-18,10000.0,15000.0,上海市,上海,静安区
28244,运维工程师 (MJ002066),神州数码系统集成服务有限公司深圳...,长沙-芙蓉区,4-6千/月,06-18,4000.0,6000.0,湖南省,长沙,芙蓉区
28245,生信总监,广州市香雪制药股份有限公司,广州-白云区,1.2-2万/月,06-18,12000.0,20000.0,广东省,广州,白云区
28246,后端开发工程师,上海优梦信息科技有限公司,上海-杨浦区,1.5-2万/月,06-18,15000.0,20000.0,上海市,上海,杨浦区
28247,大数据开发工程师,上海走起网络科技有限公司,上海-长宁区,1-1.5万/月,06-18,10000.0,15000.0,上海市,上海,长宁区

In [30]:
cols=['title','provence','salary_min','salary_max']

python_jobs=pd.DataFrame(python_all_jobs_new,columns=cols)
python_jobs

                            title provence  salary_min  salary_max
0                     python软件工程师      浙江省      8000.0     15000.0
1                 Python开发工程师-世纪福      江苏省     10000.0     20000.0
2                     Python开发工程师      陕西省      6000.0      8000.0
3                      python开发经理      上海市     15000.0     22000.0
4                   python后端开发工程师      江苏省     10000.0     15000.0
...                           ...      ...         ...         ...
28243  Windows C/C++ 初级软件工程师（应届生）      上海市     10000.0     15000.0
28244            运维工程师 (MJ002066)      湖南省      4000.0      6000.0
28245                        生信总监      广东省     12000.0     20000.0
28246                     后端开发工程师      上海市     15000.0     20000.0
28247                    大数据开发工程师      上海市     10000.0     15000.0

[28248 rows x 4 columns]

In [47]:
# n1=python_jobs.groupby('provence').count()['title']
# print(n1)
n2=(python_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n2)

13497.115831209288

# php-all jobs

In [5]:
php_all_jobs_new=pd.read_csv('date_2020-6-23/php_salary_norm_add_provence_city_area_del_none.csv')
php_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,PHP开发工程师（2020届校园招聘）,青木数字技术股份有限公司,广州,5-8千/月,06-19,5000.0,8000.0,广东省,广州,NaN
1,PHP开发工程师,中盛业（山东）智能科技有限公司,济南-槐荫区,0.7-1.2万/月,06-19,7000.0,12000.0,山东省,济南,槐荫区
2,PHP高级开发工程师,惠州市一匠科技有限公司,惠州,1-1.5万/月,06-19,10000.0,15000.0,广东省,惠州,NaN
3,PHP高级开发（15-25K汉口）,博看网,武汉-江汉区,1.5-2.5万/月,06-19,15000.0,25000.0,湖北省,武汉,江汉区
4,PHP开发工程师,武汉泰乐奇信息科技有限公司,武汉-洪山区,1-1.5万/月,06-19,10000.0,15000.0,湖北省,武汉,洪山区
...,...,...,...,...,...,...,...,...,...,...
9059,软件工程师,江西坚强百货连锁有限公司,赣州,0.8-1万/月,06-02,8000.0,10000.0,江西省,赣州,NaN
9060,前端开发工程师,上海鉴崧实业有限公司,上海-松江区,0.8-1万/月,06-02,8000.0,10000.0,上海市,上海,松江区
9061,开发工程师,阳光麦田贸易（深圳）有限公司,深圳,1.5-2万/月,06-02,15000.0,20000.0,广东省,深圳,NaN
9062,前端开发工程师,同蒙信息技术（苏州）有限公司,南京,0.8-1.5万/月,06-02,8000.0,15000.0,江苏省,南京,NaN
9063,C++开发工程师,南京网格天地软件技术有限公司,南京-玄武区,0.6-1万/月,06-02,6000.0,10000.0,江苏省,南京,玄武区

In [8]:
cols1=['title','provence','salary_min','salary_max']

php_jobs=pd.DataFrame(php_all_jobs_new,columns=cols1)
php_jobs

                    title provence  salary_min  salary_max
0     PHP开发工程师（2020届校园招聘）      广东省      5000.0      8000.0
1                PHP开发工程师      山东省      7000.0     12000.0
2              PHP高级开发工程师      广东省     10000.0     15000.0
3       PHP高级开发（15-25K汉口）      湖北省     15000.0     25000.0
4                PHP开发工程师      湖北省     10000.0     15000.0
...                   ...      ...         ...         ...
9059                软件工程师      江西省      8000.0     10000.0
9060              前端开发工程师      上海市      8000.0     10000.0
9061                开发工程师      广东省     15000.0     20000.0
9062              前端开发工程师      江苏省      8000.0     15000.0
9063             C++开发工程师      江苏省      6000.0     10000.0

[9064 rows x 4 columns]

In [48]:
n3=(php_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n3)

11715.642094774988

# linux-all jobs

In [9]:
linux_all_jobs_new=pd.read_csv('date_2020-6-23/linux_salary_norm_add_provence_city_area_del_none.csv')
linux_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,嵌入式Linux开发工程师,深圳市安车检测股份有限公司,泰安,0.6-1.2万/月,06-19,6000.0,12000.0,山东省,泰安,NaN
1,Linux软件工程师,深圳市天双科技有限公司,深圳-南山区,1-1.5万/月,06-19,10000.0,15000.0,广东省,深圳,南山区
2,Linux前后端开发工程师,湖南麒麟信安科技有限公司,长沙-岳麓区,0.8-1.5万/月,06-19,8000.0,15000.0,湖南省,长沙,岳麓区
3,linux系统工程师,国和瑞斯（北京）科技有限公司,北京-海淀区,0.8-1万/月,06-19,8000.0,10000.0,北京市,北京,海淀区
4,Linux设备驱动开发工程师,无锡先进技术研究院,无锡-滨湖区,20-25万/年,06-19,16666.0,20833.0,江苏省,无锡,滨湖区
...,...,...,...,...,...,...,...,...,...,...
55458,高级软件工程师/软件工程师,伟易达电子产品（深圳）有限公司,深圳-南山区,1-1.5万/月,06-12,10000.0,15000.0,广东省,深圳,南山区
55459,软件开发工程师,伟易达电子产品（深圳）有限公司,深圳-南山区,1-1.5万/月,06-12,10000.0,15000.0,广东省,深圳,南山区
55460,Java开发工程师,东莞市诺丽电子科技有限公司,东莞,0.9-1.6万/月,06-12,9000.0,16000.0,广东省,东莞,NaN
55461,信息系统集成工程师,广东兆邦智能科技股份有限公司,珠海-香洲区,0.5-1万/月,06-12,5000.0,10000.0,广东省,珠海,香洲区
55462,Java开发工程师,上海易立德信息技术股份有限公司,佛山-顺德区,1.2-1.5万/月,06-12,12000.0,15000.0,广东省,佛山,顺德区

In [10]:
cols2=['title','provence','salary_min','salary_max']

linux_jobs=pd.DataFrame(linux_all_jobs_new,columns=cols2)
linux_jobs

                title provence  salary_min  salary_max
0       嵌入式Linux开发工程师      山东省      6000.0     12000.0
1          Linux软件工程师      广东省     10000.0     15000.0
2       Linux前后端开发工程师      湖南省      8000.0     15000.0
3          linux系统工程师      北京市      8000.0     10000.0
4      Linux设备驱动开发工程师      江苏省     16666.0     20833.0
...               ...      ...         ...         ...
55458   高级软件工程师/软件工程师      广东省     10000.0     15000.0
55459         软件开发工程师      广东省     10000.0     15000.0
55460       Java开发工程师      广东省      9000.0     16000.0
55461       信息系统集成工程师      广东省      5000.0     10000.0
55462       Java开发工程师      广东省     12000.0     15000.0

[55463 rows x 4 columns]

In [49]:
n4=(linux_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n4)

12448.08180540505

# java-all jobs

In [11]:
java_all_jobs_new=pd.read_csv('date_2020-6-23/java_salary_norm_add_provence_city_area_del_none.csv')
java_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,Java开发工程师,三一重工重起事业部,长沙,1-2.5万/月,06-19,10000.0,25000.0,湖南省,长沙,NaN
1,研发工程师（java）,源氏木语家具集团,上海-松江区,1-2万/月,06-19,10000.0,20000.0,上海市,上海,松江区
2,Java高级开发工程师,深圳车友援信息技术有限公司,深圳-南山区,1.5-3万/月,06-19,15000.0,30000.0,广东省,深圳,南山区
3,高级java开发工程师,河南云之谷信息科技有限公司,郑州-郑东新区,0.8-1万/月,06-19,8000.0,10000.0,河南省,郑州,郑东新区
4,Java高级开发工程师,杭州尤普软件有限公司,杭州-拱墅区,2-2.5万/月,06-19,20000.0,25000.0,浙江省,杭州,拱墅区
...,...,...,...,...,...,...,...,...,...,...
57970,交付经理 (MJ000646),京北方信息技术股份有限公司,上海-浦东新区,2.5-3.5万/月,06-17,25000.0,35000.0,上海市,上海,浦东新区
57971,工作站博士,京北方信息技术股份有限公司,北京-海淀区,5-7万/月,06-17,50000.0,70000.0,北京市,北京,海淀区
57972,系统架构师（微服务方向）,京北方信息技术股份有限公司,北京-海淀区,2.5-3.5万/月,06-17,25000.0,35000.0,北京市,北京,海淀区
57973,架构师（云计算大数据方向）,京北方信息技术股份有限公司,北京-海淀区,2.5-3.5万/月,06-17,25000.0,35000.0,北京市,北京,海淀区
57974,全栈开发工程师 (MJ000657),京北方信息技术股份有限公司,上海-浦东新区,1.5-2万/月,06-17,15000.0,20000.0,上海市,上海,浦东新区

In [12]:
cols3=['title','provence','salary_min','salary_max']

java_jobs=pd.DataFrame(java_all_jobs_new,columns=cols3)
java_jobs

                    title provence  salary_min  salary_max
0               Java开发工程师      湖南省     10000.0     25000.0
1             研发工程师（java）      上海市     10000.0     20000.0
2             Java高级开发工程师      广东省     15000.0     30000.0
3             高级java开发工程师      河南省      8000.0     10000.0
4             Java高级开发工程师      浙江省     20000.0     25000.0
...                   ...      ...         ...         ...
57970     交付经理 (MJ000646)      上海市     25000.0     35000.0
57971               工作站博士      北京市     50000.0     70000.0
57972        系统架构师（微服务方向）      北京市     25000.0     35000.0
57973       架构师（云计算大数据方向）      北京市     25000.0     35000.0
57974  全栈开发工程师 (MJ000657)      上海市     15000.0     20000.0

[57975 rows x 4 columns]

In [50]:
n5=(java_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n5)

12700.94337485432

# go-all jobs

In [13]:
go_all_jobs_new=pd.read_csv('date_2020-6-23/go_salary_norm_add_provence_city_area_del_none.csv')
go_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,go服务器开发,DeNA,上海,1-1.5万/月,06-19,10000.0,15000.0,上海市,上海,NaN
1,Go语言高级架构师,凯睿管理咨询（广州）有限公司,深圳,50-80万/年,06-19,41666.0,66666.0,广东省,深圳,NaN
2,GO开发工程师,北京数猎天下科技有限公司,北京-海淀区,1.2-1.8万/月,06-19,12000.0,18000.0,北京市,北京,海淀区
3,GO 后端工程师,云南升玥信息技术有限公司,昆明-西山区,0.5-1万/月,06-19,5000.0,10000.0,云南省,昆明,西山区
4,GO服务器开发,蝴蝶互动（上海）信息技术有限公司...,上海-浦东新区,1.5-2.5万/月,06-19,15000.0,25000.0,上海市,上海,浦东新区
...,...,...,...,...,...,...,...,...,...,...
3703,etime implementation consultant,ADP China,上海-浦东新区,1.5-2万/月,06-18,15000.0,20000.0,上海市,上海,浦东新区
3704,Vendor Relation Manager,南京摩睿信息技术有限公司,南京,1-1.5万/月,06-18,10000.0,15000.0,江苏省,南京,NaN
3705,Field Manager 区域经理,汇丰人寿保险有限公司,上海-浦东新区,2.4-3.6万/月,06-12,24000.0,36000.0,上海市,上海,浦东新区
3706,Private Wealth Planner 私人财富规划师,汇丰人寿保险有限公司,上海-浦东新区,0.6-1.5万/月,06-12,6000.0,15000.0,上海市,上海,浦东新区
3707,Java (angular 2+) 开发工程师,奥解思信息技术（上海）有限公司,上海-浦东新区,1.5-2万/月,05-21,15000.0,20000.0,上海市,上海,浦东新区

In [14]:
cols4=['title','provence','salary_min','salary_max']

go_jobs=pd.DataFrame(go_all_jobs_new,columns=cols4)
go_jobs

                                title provence  salary_min  salary_max
0                             go服务器开发      上海市     10000.0     15000.0
1                           Go语言高级架构师      广东省     41666.0     66666.0
2                             GO开发工程师      北京市     12000.0     18000.0
3                            GO 后端工程师      云南省      5000.0     10000.0
4                             GO服务器开发      上海市     15000.0     25000.0
...                               ...      ...         ...         ...
3703  etime implementation consultant      上海市     15000.0     20000.0
3704          Vendor Relation Manager      江苏省     10000.0     15000.0
3705               Field Manager 区域经理      上海市     24000.0     36000.0
3706   Private Wealth Planner 私人财富规划师      上海市      6000.0     15000.0
3707          Java (angular 2+) 开发工程师      上海市     15000.0     20000.0

[3708 rows x 4 columns]

In [51]:
n6=(go_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n6)

13816.213120566888

# embeded_software-all jobs

In [15]:
embeded_software_all_jobs_new=pd.read_csv('date_2020-6-23/embeded_software_salary_norm_add_provence_city_area_del_none.csv')
embeded_software_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,嵌入式软件工程师（蓝牙）,广州博冠光电科技股份有限公司,广州,1-1.6万/月,06-19,10000.0,16000.0,广东省,广州,NaN
1,嵌入式软件工程师（WG1tx）(J12049),北京东方国信科技股份有限公司,北京,2-4万/月,06-19,20000.0,40000.0,北京市,北京,NaN
2,嵌入式软件工程师,上海英威腾工业技术有限公司,上海,1.5-3万/月,06-19,15000.0,30000.0,上海市,上海,NaN
3,嵌入式软件工程师,合肥英威晟光电科技有限公司,合肥-高新区,1-1.5万/月,06-19,10000.0,15000.0,安徽省,合肥,高新区
4,嵌入式软件工程师,深圳市勤迈电子有限公司,深圳-龙华新区,1-1.5万/月,06-19,10000.0,15000.0,广东省,深圳,龙华新区
...,...,...,...,...,...,...,...,...,...,...
6722,嵌入式工程师,武汉四维讯谷科技有限公司,武汉-武昌区,1.2-1.8万/月,05-04,12000.0,18000.0,湖北省,武汉,武昌区
6723,嵌入式软件开发工程师,南京凌鸥创芯电子有限公司,南京-栖霞区,0.8-2万/月,05-04,8000.0,20000.0,江苏省,南京,栖霞区
6724,嵌入式工程师,武汉鼎深科技有限公司,武汉-硚口区,0.8-1.8万/月,05-03,8000.0,18000.0,湖北省,武汉,硚口区
6725,嵌入式软件开发工程师,湖南波尔坤雷信息科技有限公司,长沙,0.8-1.2万/月,05-03,8000.0,12000.0,湖南省,长沙,NaN
6726,嵌入式开发工程师,石家庄市安瑞尔机械制造有限公司,石家庄,4-6千/月,05-03,4000.0,6000.0,河北省,石家庄,NaN

In [17]:
cols5=['title','provence','salary_min','salary_max']

embeded_software_jobs=pd.DataFrame(embeded_software_all_jobs_new,columns=cols5)
embeded_software_jobs

                        title provence  salary_min  salary_max
0                嵌入式软件工程师（蓝牙）      广东省     10000.0     16000.0
1     嵌入式软件工程师（WG1tx）(J12049)      北京市     20000.0     40000.0
2                    嵌入式软件工程师      上海市     15000.0     30000.0
3                    嵌入式软件工程师      安徽省     10000.0     15000.0
4                    嵌入式软件工程师      广东省     10000.0     15000.0
...                       ...      ...         ...         ...
6722                   嵌入式工程师      湖北省     12000.0     18000.0
6723               嵌入式软件开发工程师      江苏省      8000.0     20000.0
6724                   嵌入式工程师      湖北省      8000.0     18000.0
6725               嵌入式软件开发工程师      湖南省      8000.0     12000.0
6726                 嵌入式开发工程师      河北省      4000.0      6000.0

[6727 rows x 4 columns]

In [52]:
n7=(embeded_software_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n7)

11958.682413895116

# embeded_hardware-all jobs

In [18]:
embeded_hardware_all_jobs_new=pd.read_csv('date_2020-6-23/embeded_hardware_salary_norm_add_provence_city_area_del_none.csv')
embeded_hardware_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,嵌入式硬件工程师（双休）,武汉中飞扬测控工程有限公司,武汉-黄陂区,6-8千/月,06-19,6000.0,8000.0,湖北省,武汉,黄陂区
1,嵌入式硬件工程师,钛深科技（深圳）有限公司,成都-高新区,0.8-1.5万/月,06-19,8000.0,15000.0,四川省,成都,高新区
2,嵌入式硬件工程师,上海智显光电科技有限公司,上海-闵行区,10-15万/年,06-19,8333.0,12500.0,上海市,上海,闵行区
3,嵌入式硬件工程师,南京协澳智能控制系统有限公司,南京-鼓楼区,2-3万/月,06-19,20000.0,30000.0,江苏省,南京,鼓楼区
4,嵌入式硬件工程师（鸿鹄安全公司）,江苏费尔曼安全科技有限公司,徐州,6-8千/月,06-19,6000.0,8000.0,江苏省,徐州,NaN
...,...,...,...,...,...,...,...,...,...,...
865,嵌入式硬件工程师,西安聚能仪器有限公司,西安-未央区,0.4-1.2万/月,06-16,4000.0,12000.0,陕西省,西安,未央区
866,硬件工程师/嵌入式硬件工程师,西安锦威电子科技有限公司,西安-高新技术...,0.8-1.5万/月,06-16,8000.0,15000.0,陕西省,西安,高新技术...
867,嵌入式硬件工程师,上海朝辉压力仪器有限公司,上海-松江区,0.8-1.5万/月,06-19,8000.0,15000.0,上海市,上海,松江区
868,嵌入式硬件工程师,广州老店长互联网科技有限公司,广州-番禺区,1-1.5万/月,06-16,10000.0,15000.0,广东省,广州,番禺区
869,嵌入式硬件工程师,长沙万为机器人有限公司,长沙,1-1.5万/月,06-16,10000.0,15000.0,湖南省,长沙,NaN

In [19]:
cols6=['title','provence','salary_min','salary_max']

embeded_hardware_jobs=pd.DataFrame(embeded_hardware_all_jobs_new,columns=cols6)
embeded_hardware_jobs

                title provence  salary_min  salary_max
0        嵌入式硬件工程师（双休）      湖北省      6000.0      8000.0
1            嵌入式硬件工程师      四川省      8000.0     15000.0
2            嵌入式硬件工程师      上海市      8333.0     12500.0
3            嵌入式硬件工程师      江苏省     20000.0     30000.0
4    嵌入式硬件工程师（鸿鹄安全公司）      江苏省      6000.0      8000.0
..                ...      ...         ...         ...
865          嵌入式硬件工程师      陕西省      4000.0     12000.0
866    硬件工程师/嵌入式硬件工程师      陕西省      8000.0     15000.0
867          嵌入式硬件工程师      上海市      8000.0     15000.0
868          嵌入式硬件工程师      广东省     10000.0     15000.0
869          嵌入式硬件工程师      湖南省     10000.0     15000.0

[870 rows x 4 columns]

In [53]:
n8=(embeded_hardware_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n8)

11338.924007558668

# c/c++-all jobs

In [25]:
cc_all_jobs_new=pd.read_csv('date_2020-6-23/cc++_salary_norm_add_provence_city_area_del_none.csv')
cc_all_jobs_new

,title,company,address,salery,date,salary_min,salary_max,provence,city,area
0,c++软件工程师,上海唯能炬科技有限公司,上海-宝山区,0.5-1万/月,06-19,5000.0,10000.0,上海市,上海,宝山区
1,C\C++开发工程师,得实信息科技（深圳）有限公司,深圳-南山区,0.5-1万/月,06-19,5000.0,10000.0,广东省,深圳,南山区
2,C++软件开发,哈尔滨精达测量仪器有限公司,哈尔滨,6-8千/月,06-19,6000.0,8000.0,黑龙江省,哈尔滨,NaN
3,C++游戏服务器开发,南京久娱信息技术有限公司,南京-栖霞区,0.7-1万/月,06-19,7000.0,10000.0,江苏省,南京,栖霞区
4,C++开发工程师,上海控创信息技术股份有限公司,上海,1.2-1.8万/月,06-19,12000.0,18000.0,上海市,上海,NaN
...,...,...,...,...,...,...,...,...,...,...
36975,Java开发工程师,米思米（中国）精密机械贸易有限公...,上海-静安区,1-2万/月,06-19,10000.0,20000.0,上海市,上海,静安区
36976,硬件工程师,深圳市中微泽电子有限公司,深圳,0.8-1万/月,06-19,8000.0,10000.0,广东省,深圳,NaN
36977,嵌入式软件开发工程师,杭州图软科技有限公司,杭州-余杭区,0.8-1.5万/月,06-19,8000.0,15000.0,浙江省,杭州,余杭区
36978,VC++应用软件工程师,深圳市高川自动化技术有限公司,深圳-宝安区,1.5-2万/月,06-19,15000.0,20000.0,广东省,深圳,宝安区
36979,图像算法工程师,武汉迪赛威智能科技有限公司,武汉,1.5-2万/月,06-19,15000.0,20000.0,湖北省,武汉,NaN

In [27]:
cols7=['title','provence','salary_min','salary_max']

cc_jobs=pd.DataFrame(cc_all_jobs_new,columns=cols7)
cc_jobs

             title provence  salary_min  salary_max
0         c++软件工程师      上海市      5000.0     10000.0
1       C\C++开发工程师      广东省      5000.0     10000.0
2          C++软件开发     黑龙江省      6000.0      8000.0
3       C++游戏服务器开发      江苏省      7000.0     10000.0
4         C++开发工程师      上海市     12000.0     18000.0
...            ...      ...         ...         ...
36975    Java开发工程师      上海市     10000.0     20000.0
36976        硬件工程师      广东省      8000.0     10000.0
36977   嵌入式软件开发工程师      浙江省      8000.0     15000.0
36978  VC++应用软件工程师      广东省     15000.0     20000.0
36979      图像算法工程师      湖北省     15000.0     20000.0

[36980 rows x 4 columns]

In [54]:
n9=(cc_jobs['salary_min'].mean()+python_jobs['salary_min'].mean())/2
print(n9)

12795.591095701995