# DAY9

In [ ]:
import pandas as pd
import numpy as np

ser01 = pd.Series(np.random.randn(5),index=[1,2,3,1,2])
ser02 = ser01.groupby() #分组
print(ser01)

In [28]:
import pandas as pd
import numpy as np

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop'],
                      index=['one', 'two', 'three', 'four','five', 'six'])

frame2[['state','year']]

        state  year
one      Ohio  2000
two      Ohio  2001
three    Ohio  2002
four   Nevada  2001
five   Nevada  2002
six    Nevada  2003

## 文件合并

In [ ]:
import pandas as pd
import numpy as np


pd.concat([java,python,web])    #文件数据合并

pd.merge(df1,df2,on='name')   #根据名字合并数据
pd.merge(df1,df2,left_on='name',right_on='gender',how= 'right')